.table {
    color: black; 
}

.table thead tr {
    background-color: black;
    color: white;
    text-align: left;
    font-weight: 700;
    
}

.table th,
.table td {
    padding: 15px 15px;
}

.table tbody tr {
    border-bottom: 1px solid black;
}