.table {
    color: black; 
    border-bottom: 1px solid rgb(0, 0, 0);
}

.table thead tr {
    background-color: black;
    color: white;
    text-align: left;
    font-weight: 700;
}

.table th,
.table td {
    padding: 15px 15px;
}
